/* Reglas globales (para eliminar los márgenes que vienen por defecto)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  color: rgb(248, 248, 242);
  background-image: url(./img/alfombra.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

h1{
  font-family: 'Cinzel', serif;
}

/* Estilos de la barra de navegación */

nav {
  width: 100%;
  background-color: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 50%, rgb(94, 94, 94) 100%);
  top: 0;
  position: sticky;
  z-index: 2;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

nav ul {
  display: block;
  list-style-type: none;
  margin: auto;
  width: fit-content;
  overflow: hidden;
}

/* La propiedad transition añade una animación simple  */
/* Se especifica la propiedad que cambia, la duración y el efecto */

nav li {
  float: left;
  transition: background-color 300ms ease-out;
  height: 60px;
  width: 130px;
}

nav li:hover {
  border-bottom: 3px solid rgb(255 121 198);
}

nav li.actual {
  border-bottom: 3px solid rgb(139 233 253);
}

nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(255 121 198);
  padding: 25px;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

#navImg {
  width: 40px;
}
/* Explicar transform translate */



/* Capa de Presentación (inicio) */
#landing {
  width: 100%;
  height: calc(100vh - 60px);  /* vh (viewport height) es el porcentaje de la altura actual del navegador */
  
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-attachment: fixed;

  font-family: 'Cinzel Decorative', cursive;
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
}

#landingTitle {
  height: 100%;
  overflow:hidden;
  position:relative;
  top: 10%;
  bottom: 10%;
  color: rgb(255 184 108);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#landingTitle img {
  width: 10%;
}

/* Capa contenedora y columnas derecha, central e izquierda */

#contenedor {
  width: 90%;
  margin: auto;
  background-color: rgb(40, 42, 54);
  padding: 30px 60px;
  overflow: hidden;
  border-top: rgb(255, 121, 198) 3px solid;
}


.columnaCentral{
  width: 60%;
  margin: auto;
}

.columnaDerecha {
  float: right;
  width: 18%;
}

.columnaIzquierda {
  float: left;
  width: 18%;
}

/* Clases para imágenes */

.round {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.roundRight {
  border-radius: 50%;
  float: right;
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(255, 121, 198);
}

p{
  margin-bottom: 7px;
}

h3 {
  font-family: 'Cinzel', serif;
  font-weight: normal;
  color: rgb(241 250 140);
  margin-bottom: 15px;
}

/* Lista con estilo de imagen */
ul.puntos {
  margin-bottom: 15px;
}

ul.puntos li{
  list-style-image: url("./img/punto.png");
  margin-left: 20px;
}

/* footer y columnas del footer */

footer {
  border-top: 3px solid rgb(241 250 140);
  background-color: rgba(68, 71, 90, 0.897);
  width: 100%;
  padding: 30px 60px;
  overflow: hidden;


}

.footerColumna {
  text-align: center;
  width: 25%;
  float: left;
}

footer img {
  height: 50px;
  width: 50px;
  padding: 10px;
}

footer img:hover {
  border-radius: 20%;
  background-color: rgb(241 250 140) ;
}

footer a {
  text-decoration: none;
  color: rgb(241 250 140);;
  font-weight: 150;
}

footer a:hover {
  text-decoration: underline solid 3px;
}